*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
    max-width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}

header{
    left: 0;
    top: 0;
    background-color: rgb(19, 19, 19);
    width: 100vw;
    height: 100px;
}

.top{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.wrapper{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 130px;
}

.square,
.triangle,
.circle{
    background-color: bisque;
    width: 25%;
    height: 60%;
    text-align: center;
    border-radius: 15px;
    transition: scale 0.5s ease;
    cursor: pointer;
}

.square:hover,
.triangle:hover,
.circle:hover{
    scale: 1.08;
}

.hidden{
    opacity: 0;
    visibility: hidden;
}

.hiddenCalculateSquare{
    opacity: 0;
    visibility: hidden;
}

.showCalculateSquare{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.lineContainer{
    position: relative;
    width: fit-content;
}

.inputBase,
.inputAltura{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.247);
    padding: 10px;
    color: white;
    font-size: 16px;
}

.inputBase:focus,
.inputAltura:focus {
    outline: none;
}

.line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.7s ease;
}

.inputBase:focus + .line,
.inputAltura:focus + .line{
    width: 100%;
}

.numberField{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.numberField button{
    position: relative;
    background: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    color: white;
    cursor: pointer;
    overflow: hidden;
}


.animateButton{
    position: absolute;
    background-color: rgb(84, 128, 224);
    width: 0;
    height: 100%;
    border-radius: 25px;
    left: 0;
    top: 0;
    transition: width 0.7s ease;
    z-index: -1;
}

.numberField button:hover .animateButton{
    width: 100%;
}

.wrapperResult{
    display: flex;
    align-items: center;
    gap: 15px;
}

.wrapperResult img{
    border-radius: 15px;
}

.resultSquare{
    display: block;
} 

.child2{
    display: flex;
    justify-content: end;
    padding-right: 70px;
    padding-top: 20px;
}

.child2 p,
.wrapperResult p{
    width: 70px;
}

.result p{
    color: white;
    font-size: 20px;
}

.heightSquare,
.baseSquare{
    color: white;
}

.backToMenu{
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 50px;
    margin-bottom: 40px;
    border: 2px solid white;
    width: 100px;
    height: 45px;
    border-radius: 13px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: width 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.animateButtonBack{
    position: absolute;
    background-color: rgb(84, 128, 224);
    width: 0;
    height: 100%;
    border-radius: 13px;
    left: 0;
    top: 0;
    transition: all 0.5s ease;
    z-index: -1;
    
}

.backToMenu img{
    width: 23px;
}

.backToMenu:hover .animateButtonBack{
    width: 100%;
}

